/* general */
:root {
  --background: rgb(227, 242, 253);
  --popUpBackground: rgb(92, 154, 199);
  --absentColor: rgb(163, 173, 189);
  --correctColor: rgb(79, 173, 96);
  --wrongPlacementStyle: rgb(245, 217, 42)
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
}

body {
  background-color: var(--background);
}
.exitIcon {
  position: absolute;
  top: 10px;
  right: 10px;
  height: 25px;
  width: 25px;
  cursor: pointer;
}
/* nav */
.siteTitle {
  color: black;
  font-size: 40px;
  letter-spacing: -4px;
}
.navBox {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px;
  border-bottom: 2px solid black;
  background-color: var(--background);
}
.navLeft {
  display: flex;
}
.navRight {
  text-align: right;
}
.navIcon {
  height: 20px;
  width: 20px;
  margin: 15px 5px 0px;
  cursor: pointer;
}

/* game*/
.game {
  margin-top: 87px;
}
.gameGridDisplay {
  width: 100%;
}  
.grids {
  margin: 0px auto 20px;
  table-layout: fixed;
}

.gridsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 auto
}
.grids td {
  background-color: white;
  border: 1px solid var(--absentColor);
  height: 30px;    
  width: 30px;
  margin: 10px;
  text-align: center;
  border-radius: 3px;
  font-size: 20px;
}
/* keyboard*/
.keyboardRow {
  display: block;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  width: 95%;
  border-spacing: 5px;
  text-align: center;
  background-color: gray;
  border-radius: 6px;
  color: white;
}
.keyboardRow td {
  border: 1px solid black;
  height: 40px;
  width: 60px;
  font-weight: bold
}
.keyboard {
  margin-bottom: 30px;
}
.bigButtons {
  font-size: 10px;
}
/* game complete*/
.gameCompleteBox {
  text-align: center;
  background-color: var(--background);
  position: fixed;
  right: 50%;
  top: 200px;
  box-shadow: 0 0 10px black;
  border-radius: 10px;
  width: 300px;
  margin: 10px auto;
  padding: 9px;
  margin-right: -150px;
}
.playAgainBtn {
  background-color: var(--wrongPlacementStyle);
  padding: 16px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}
.submitWinForm {
  margin: 0 0 20px;
}
.submitWinBtn {
  height: 35px;
  padding: 0 8px;
  border-radius: 3px 3px 3px 3px;
  margin-top: 10px;
  border: none;
  background-color: var(--correctColor);
  cursor: pointer;
  font-weight: 700;
}
.answerTable {
  width: 89px
}
.answerTable td {
  height: 25px;    
  width: 25px;
  text-align: center;
  border-radius: 3px;
  font-size: 20px;
}
.gameCompleteBox--answerDisplay {
  margin: 20px auto;
  width: 300px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
}

.gameCompleteBox--result {
  margin-top: 25px;
  font-size: 30px;
}
.enterHandle {
  height: 35px;
}
/* pop ups*/
.infoPopUp {
  background-color: var(--background);
  position: fixed;
  right: 50%;
  top: 100px;
  text-align: center;
  box-shadow: 0 0 10px black;
  border-radius: 10px;
  padding: 45px 0px 15px;
  margin-right: -175px;
  width: 350px;
  /* overflow: scroll; */
}
.about {
  padding-left: 15px;
  padding-right: 15px;
}
.popUpH1 {
  margin: -20px -20px 10px;
}
.highScores {
  /* height: 300px; */
  padding-top: 55px;
}
.highScoreH1 {
  letter-spacing: .3rem;
}
.highScores--listDiv {
  width: 300px;
  margin-bottom: 30px;
  text-align: center;
  list-style: none;
  border-radius: 5px;
  font-size: 22px;
  height: 150px;
  overflow: scroll;
  margin: 0 auto;
  overflow-x: hidden

}
.highScores--list {
  list-style: none;
  margin-top: 10px;
}
.highScores li {
  padding: 10px;
}
.highScores--adminControls{
  padding: 5px;
}
.highScores--adminControlsToggleBtn {
  background-color: var(--absentColor);
  border: 2px solid black;
  border-radius: 4px;
  color: black;
  font-weight: 700;
  padding: 10px;
  cursor: pointer;
  margin-bottom: 10px;
}
/* menu */
.menu {
  position: fixed;
  text-align: center;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  padding: 15px 15px;
  top: 67px;
  left: 0px;
  background-color: white;
  width: 350px;
}

.portfolioBtn {
  background-color: var(--background);
  border: 2px solid black;
  border-radius: 4px;
  color: black;
  font-weight: 700;
  font-size: 20px;
  padding: 20px;
  cursor: pointer;
}
.portrait {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 6px #000 dashed;
  position: relative;
  margin: 10px auto
}

@media only screen and (min-width: 600px) {
  .keyboardRow {
    width: 450px;
    border-spacing: 5px;
  }
  .keyboardRow td {
    height: 40px;
    width: 60px;
  }
  .about {
    margin-right: -250px;
    width: 500px
  }
  .highScores {
    margin-right: -175px;
    width: 350px;
  }

  .grids td {
    height: 40px;    
    width: 40px;
  }
  .gridsContainer {
    margin: 0 auto;
    width: 550px
  }
  .navIcon {
    height: 35px;
    width: 35px;
    margin: 5px 15px 0px;
    cursor: pointer;
  }
}

@media only screen and (min-width: 900px) {
  .keyboardRow td {
    height: 50px;
    width: 70px;
  }
  .grids td {
    height: 50px;    
    width: 50px;
  }
  .highScores {
    height: 500px;
  }
  .highScores--listDiv {
    height: 300px;
    overflow: scroll;
    margin: 0 auto;
    overflow-x: hidden
  }
  .gameCompleteBox {
    width: 600px;
    margin-right: -300px;
    padding: 30px;
  }
  .gameCompleteBox--answerDisplay {
    width: 540px;
  }
  .answerTable {
    width: 170px;
  }
  .answerTable td {
    height: 50px;
    width: 50px;
  }
  .answerTable h3 {
    line-height: 50px;
  }
  .gridsContainer {
    margin: 0 auto;
    width: 550px
  }
  .userAndReset {
    position: relative;
    top: 10px;
    right: 10px;
  }
  .siteTitle {
    margin-left: 20px;
  }
}
@media only screen and (min-width: 1200px) {
  .keyboardRow td {
    width: 80px;
  }
  .siteTitle {
    text-align: left;
  }
  .gameCompleteBox--result {
    margin-top: 25px;
    font-size: 40px;
  }
}