* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
body {
  background-color: rgb(16, 46, 74);
}
nav {
  color: white;
}
nav a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: rgb(13, 23, 38)
}
.navBox {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  box-shadow: 0 0 10px white;
  background-color: rgb(227, 242, 253)

}

.home form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0px
}
.home form input, .home form button{
  height: 60px;
}
.home form input {
  font-size: 30px;
  text-align: center;
  border-radius: 10px 0px 0px 10px;
}
.home form button {
  width: 100px;
  font-size: 20px;
  border-radius: 0px 10px 10px 0px;
}
.about {
  background-color: rgb(208, 213, 221);
  width: 70%;
  margin: 15px auto;
  padding: 20px;
  border-radius: 10px;
  font-weight: 700;
}

h1, h2 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  letter-spacing: .5rem;
}
h1 {
  text-shadow: 0px 0px  5px rgb(163, 173, 189);
  font-size: 60px;
  margin: 10px auto 0px;
}
h2 {
  font-size: 40px;
}
.home {
  text-align: center;
}
.keyboard {
  display: block;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  width: 350px;
  border-spacing: 5px;
  text-align: center;
}
.keyboard td {
  border: 1px solid black;
  height: 40px;
  width: 60px;
  font-weight: bold
}
/* 
.keyboard tr {
  margin: 0 auto;
} */
.gameGridDisplay {
  width: 100%;
}  
.grids {
  width: 80%;
  margin: 20px auto;
  table-layout: fixed;
}

.gridsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 auto
}
.grids td {
  border: 1px solid black;
  height: 40px;    
  max-width: 100px;
  margin: 10px;
  text-align: center;
  border-radius: 7px;
  font-size: 20px;
}

#delete {
  width: 80px;
}

.keyboard {
  background-color: gray;
  border-radius: 6px;
  color: white;
}

@media only screen and (min-width: 600px) {

}